:root {
  --color-panel: #E5E7EB;
  --color-contorno: #D1D5DB;
  --color-panel-text: #111827;
  --color-botones: #2563EB;
  --color-alertas: #DC2626;
  --fuente-principal: Arial;

}

body {
  font-family: var(--fuente-principal);
}